body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 20px;
}

.left-header {
  padding: 0px 0px 0px 15px;
}

.right-header {
  padding: 0px 20px 0px 15px;
}

.header-link {
  padding: 0px 10px 0px 0px;
  font-size: 13px;
  color: black;
  opacity: 75%;
  text-decoration: none;
}

.header-link:hover {
  text-decoration: underline;
}

.sign-in {
  width: 70px;
  height: 30px;
  color: white;
  background-color: #4285f4;
  border: 0px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 13px;
  padding: 8px 12px;
  text-decoration: none;
}

a.sign-in:hover {
  box-shadow: 0px 1px lightgray;
}

.products {
  vertical-align: middle;
  padding: 0px 15px 0px 0px;
  width: 24px;
  opacity: 55%;
}

.products:hover {
  opacity: 100%;
}

.products-link {
  width: 24px;
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  padding-top: 109px;
}

.search-box {
  display: flex;
  justify-items: center;
  width: 484px;
  height: 46px;
  border-radius: 24px;
}
